# Python
__pycache__/
*.pyc
.env/
.env
.env.*
.env.local
.env.development
.env.production
.env.staging
.env.test
venv/

# Godot
*.import/
*.godot/
.export/
.godot/
frontend/godot/export/

# IDEs
.cursor/
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Project Testing
simulacra_visualization/

# Resources
resources_old/
resources/
