# Python
__pycache__/
*.pyc
.env/

# Godot
*.import/
*.godot/
.export/
.godot/
frontend/godot/export/

# IDEs
.cursor/
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Project Testing
frontend/frontend_server/

# Resources
resources/
